html, body {
  font-size: 1rem;
}

h1 {
  text-align: center;
}
.board {
  display: block;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}
.fa{
  margin-left: 0.5rem;
  color: rgba(255,255,255,.9);
}
.game-area {
  border: 1px solid #333;
  background: #004e00;
  color: white;
  display: inline-block;
}
.profit {
  text-align: right;
  margin-right: 1rem;
  color: rgba(255,255,255,.9);
  font-family: sans-serif;
}
.page-title {
  background: #809680;
  color: white;
  font-weight: bold;
}
.page-title h1 {
  margin-top: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.logo {
  float: left;
  margin-left: 3rem;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.radio-toolbar-label {
  margin: 2px;
  width: 42px;
  height: 42px;
  float: left;
  background-image: url("../img/spriteSheet.png");
  background-repeat: no-repeat;
  background-size: 160px 120px;
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0.75),
              inset 0 1px 1px rgba(200,200,200,0.5);
  border: 1px solid rgba(0,0,0,0.5);
}
.radio-toolbar-label#tree-button {
  background-position: 0px -40px;
}
.radio-toolbar-label#blueberry-button {
  background-position: 0px -80px;
}
.radio-toolbar-label#grass-button {
  background-position: -122px 0px;
}
.radio-toolbar input[type="radio"] {
  display: none;
}
.radio-toolbar input[type="radio"]:checked + label {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url(../img/spriteSheet.png);
  background-size: 160px 120px;
  box-shadow: inset 0 -1px 1px rgba(200,200,200,0.5),
              inset 0 1px 1px rgba(0,0,0,0.75);
}
.radio-toolbar input[type="radio"]:active + label {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url(../img/spriteSheet.png);
  background-size: 160px 120px;
  box-shadow: inset 0 -1px 1px rgba(200,200,200,0.5),
              inset 0 1px 1px rgba(0,0,0,0.75);
}