html, body {
  font-size: 1rem;
}

h1 {
  text-align: center;
}
.board {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.game-area {
  border: 1px solid #333;
  background: #004e00;
  color: white;
  min-width: 210px;
}
.profit {
  text-align: right;
  margin-right: 1rem;
}
.page-title {
  background: #809680;
  color: white;
  font-weight: bold;
}
.page-title h1 {
  margin-top: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.game-toolbar-button {
  margin: 2px;
  background-image: url("../img/spriteSheet.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  float: left;
}
.game-toolbar-button#tree-button {
  background-position: 0px -20px;
}
.game-toolbar-button#blueberry-button {
  background-position: 0px -40px;
}
.game-toolbar-button#grass-button {
  background-position: 0px 0px;
}
